ul,ol{
    list-style: none;
}



nav{background: #0cebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
padding: 10px 0;

}
nav ul li{
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    display: block;
    
    text-transform: uppercase;
    transition: 0.3s;
}
nav ul li a:hover{
    background-color: rgba(240, 241, 255, 0.468);
}